#step-1{
  background-color: grey;
  height: fit-content;
  color: var(--blue);
  padding: 50px;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head h1 {
  font-size: 3em;
  font-weight: bold;
}

.head p {
  font-size: 1.3em;
}

.exercices-list-wrapper{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercices-list-wrapper > p {
  font-size: 1.3em;
  font-weight: bold;
}

.exercices-list-wrapper ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercices-list-wrapper ol li p {
  font-size: 1.2em;
}

.exercices-list-wrapper ol li p span {
  padding-right: 05px;
}

.exercice-type {
font-weight: bold;
}

.exercice-rule{
  padding-left: 35px;
}

